{% extends 'common/page.html.twig' %}

{% block content %}
    <h1>Bienvenue chez sac à d'eau</h1>
            <div id="vue">
                {% block vue %}{% endblock %}
            </div>
{% endblock %}
