
###> symfony/framework-bundle ###
PROJET/.env.local
PROJET/.env.local.php
PROJET/.env.*.local
PROJET/config/secrets/prod/prod.decrypt.private.php
PROJET/public/bundles/
PROJET/var/
PROJET/vendor/
###< symfony/framework-bundle ###
