.userdiv {
    background-color: whitesmoke;
    font-size: larger;
}

.error {
    display: block;
    background-color: red;
    color: white;
    font-size: larger;
}

.flash {
    display: block;
    background-color: #1b9448;
    color: white;
    font-size: larger;
}

.product {
    height: 150px !important;
    width: 200px !important;
    border-radius: 8px;
    object-fit: cover;
}

