{% extends 'common/page.html.twig' %}

{% block content %}
    <br>
    <p>Liste de produits</p>
    <br>
    {% for product in products %}
        {% set quantite = quantitiesInCart[product.id]|default(0) %}
        {% include 'products/productDetail.html.twig' with {'product': product, 'quantiteInCart': quantite} %}
        <br>
    {% endfor %}
{% endblock %}
