{% extends 'common/page.html.twig' %}

{% block content %}
    <br>
    <p>Liste de produits</p>
    <br>
    {% for product in products %}
        {% include 'products/productDetail.html.twig' with {'product': product} %}
        <br>
    {% endfor %}
{% endblock %}
